<div class="row" style="padding-top: 10%;">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <button class="btn btn-primary" routerLink='anagram'>Anagram</button>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <button class="btn btn-primary" routerLink='largestNumber'> Largest Number</button>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <button class="btn btn-primary" routerLink="count-occurance">Count Ocurance</button>
        </div>
    </div>
</div>